:root {
  --color-white: #f7f7f7;
  --color-gray: #ececec;
  --color-primary: #ffbc97;
  --color-secondary: #ff7800;
  --color-yellow: #ffe300;
}
ul {
  padding-inline-start: 0;
  list-style-type: none; 
}
body {
  background-color: var(--color-white);
  font-family:Arial, Helvetica, sans-serif ;
}
.mt-5 {
  margin-top: 5px;
}
.container {
  width: 40vw;
  min-width: 400px;
  margin: 10px auto;
}

input {
  border-radius: 3px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

label {
  display: block;
  position: relative;
  top: -4px;
  color: white;
  font-weight: bold;
 
  text-transform: uppercase;
  font-size: .6rem;
  letter-spacing: .4em;
}
.list-item {
  background-color: var(--color-gray);
}

.list-item > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  width: 100%;
}

.btn-w {
  display: block;
  width: 100%;
}

.list-item > div > div:last-child {
  background-color: var(--color-white);
  border-radius: 3px;
  padding: 15px 10px 8px;
  border: 1px solid #ccc;
  font-size: 20px;
  color: var(--color-secondary);
  text-align: center;
}

.list-item > div > div:last-child span{
  display: block;
  color: #1c1c1c;
  font-size: 10px;
}

.form {
  background-color: var(--color-primary);
}

.form form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form form > div {
  margin-right: 10px;
}
